*{padding:0;margin:0;border:0}*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}:focus,:active{outline:none}a:focus,a:active{outline:none}nav,footer,header,aside{display:block}html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%}input,button,textarea{font-family:inherit}input::-ms-clear{display:none}button{cursor:pointer}button::-moz-focus-inner{padding:0;border:0}a,a:visited{text-decoration:none}a:hover{text-decoration:none}ul li{list-style:none}img{vertical-align:top}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    background: rgb(250,250,250);
    background: linear-gradient(0deg, rgba(250,250,250,0.7746682901676296) 9%, rgba(106,143,177,0.830690699131215) 49%);
    height: 100vh;
    padding-top: 20px;
}

.main__inner {
    max-width: 900px;
    min-height: 500px;
    margin: 0 auto;
    background-color: rgba(96, 96, 93, 0.563);
    border-radius: 50px 10px 50px 10px;
    
    box-shadow: 1px 1px 15px rgba(137, 229, 214, 0.167); 
}
.main__top {
    background-color: rgba(252, 252, 252, 0.569);
    border-radius: 50px 10px 0px 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.input__text {
    max-width: 300px;
    padding: 5px 5px;
    font-size: 20px;
    border-radius: 0px 15px 0px 15px;
    background-color:rgba(202, 169, 169, 0.563);
    margin-bottom: 10px;
    border: 1px solid black;
    color:white;
    transition: 0.5s;
}
input:focus{
    box-shadow: 2px 2px 1px grey;
    background-color:rgba(67, 64, 64, 0.292);
    transition: 0.5s;
}
input:hover{
    box-shadow: 3px 2px 1px rgba(47, 56, 52, 0.583);
    transition: 0.5s;
}



.input__count {
    transition: 0.5s;
    color:white;
    margin-left: 5px;
    max-width: 120px;
    padding: 5px 5px;
    font-size: 20px;
    border-radius: 15px 0px 15px 0px;
    background-color:rgba(202, 169, 169, 0.563);
    margin-bottom: 10px;
    border: 1px solid black;
    margin-right: 10px;
    
    
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.btn-add {
    margin-right: 10px;
    width: 120px;
    font-size: 20px;
    padding: 3px 5px;
    border-radius: 15px 0px 15px 0px;
    background-color:rgba(128, 206, 209, 0.563);
    color: white;
    border: 1px solid black;
    transition: 0.5s;
}
.btn-count {
    font-size: 20px;
    width: 120px;
    padding: 3px 5px;
    border-radius: 0px 15px 0px 15px;
    background-color:rgba(128, 206, 209, 0.563);
    color: white;
    border: 1px solid black;
    transition: 0.5s;
}
button:hover{
    box-shadow: 3px 2px 1px rgba(47, 56, 52, 0.583);
    transition: 0.5s;
}
.counts{
    padding-left: 5px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;

}
.main__bottom {
    margin-top: 10px;
    font-size: 20px;
}


.list__item {
    text-shadow: 1px 1px 2px rgba(12, 5, 5, 0.139);
    padding: 5px 20px 0px 20px;
    color:white;
    font-size: 25px;
    border-bottom: 1px solid rgba(150, 226, 236, 0.5);
}

@media (max-width: 845px) {
    .input__text {max-width: 240px;}
}
@media (max-width: 845px) {
    .input__text{max-width: 200px;}
}
@media (max-width: 680px) {
    .input__text{max-width: 160px;}
}

@media (max-width: 465px) {
    .input__text{
        max-width: 120px;
        height: 30px;}
    .input__count{
        
        margin-right: 5px;
        max-width: 120px;
        height: 30px;
    }
    .counts{font-size: 25px;}
    
}